$color-white: white;
$color-green: rgb(29, 154, 29);
$color-primary-red: #FC4F4F;
$color-black: black;
$color-gray: #B2B2B2;
$color-light-red: #FF7070;
$color-light-black: rgb(55, 54, 54);
$color-red: red;
$color-lilac: #8393AF;